div.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width:100px;
}

div.gallery:hover {
    border: 1px solid #777;
}  div.gallery img {
    width: 100%;
    height: auto;
}

div.desc{
    padding: 15px;
    text-align: center;
}

.world{
    background: url(image/image1.) no-repeat;
}

.pictures{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: 0 0;
}

a[href=" https://shkolladigjitale.com/"]{
    color: blue;
}
[data-value]{
    /* Attribute exists */
}
[data-value*="foo"]{
    /*Attribute has this exact value */
}
[data-value*="foo"]{
    /* Attribute value that it contains this value somewhere in it*/
}
[data-value*="foo"]{
    /*Attribue value has been space-seperated list somewhere*/
}
