div#static {
    position: static;
    border: 3px solid red;
    width: 250px;
    height: 250px;
    padding: 20px;
}
div#relative{
    position: relative;
    border: 3px solid blue;
    width: 250px;
    height:250px;
    padding: 20px;
    left: 200px;
    top: 20px;
}
div#fixed{
    position: fixed;
    border: 3px solid green;
    width:250px;
    height: 250px;
    padding: 20px;
    right: 200px;
    top: 100px;
}
div#parent{
    position: relative;
    width: 250px;
    height: 250px;
    border: 3px dolid yellow;
}
div#absolute{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    right: 80px;
    top: 70px;
    color: white;
}
div#sticky{
    position: sticky;
    top: 0;
    background-color: brown;
    padding:20px;
    color:white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a  :hover:not(.active){
    background-color: #111;

}
.active{
    background-color: aquamarine;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.dropdown{
    float: left;
    overflow: hidden;

}
.dropdown {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin:0;
}