.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 50px;
    top: 100px;
    margin-left: -60px;
}

.tooltip .tooltiptext ::after{
    visibility: visible;

}
.tooltip .tooltiptext ::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

h2::before{
    counter-increment: number;
    content: counter(number);
    background-color: white;
    border-radius: 50%;
    padding: 5px 12px;
    color: #00014e;
    margin: 10px;

}
:root{
    --primary-color :#06206a;
    --secondary-color: #fff;
    --padding:20px;
}
h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}

.round{
    border-radius: 12px;
}

#example{
    border-radius: 20px;
}

body{
    background:
    url(Lesson16/images/image1.jpg)
    top center / 200px 200px
    no-repeat
    fixed
    padding-box
    content-box
    red;

}
body{
    background-color: red;
    background: url(Lesson16/images/image1.jpg);
}
.dropdown-content{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    box-shadow: inset 0 0 1opx #000000;
    box-shadow: 0 px 6px -6px black;
}